body {
    font-family: verdana;
}

div.header {
    background-color: rgb(127,127,255);
    color: white;
    font-family: verdana;
    padding: 25px;
}
input.search[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('http://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input.search[type=text]:focus {
    width: 100%;
}
div.container {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 25px;
    padding: 0 25px;
}
.button {
    position: relative;
    background-color: #7F7FFF;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 15px;
    width: 300px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
div.footer {
    background-color: rgb(127,127,255);
    color: white;
    font-family: verdana;
    padding: 25px;
}
