body {
    font-family: verdana;
}

div.header {
    background-color: rgb(127,127,255);
    color: white;
    font-family: verdana;
    padding: 25px;
}
input.search[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('http://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input.search[type=text]:focus {
    width: 100%;
}
div.pad {
    margin: 25px;
}
div.container {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 25px;
    padding: 0 25px;
}
.button {
    background-color: #7F7FFF;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition-duration: 0.25s; /* Safari */
    transition-duration: 0.25s;
}
.buttonshadow:hover {
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.25),0 5px 10px 0 rgba(0,0,0,0.15);
}
div.footer {
    background-color: rgb(127,127,255);
    color: white;
    font-family: verdana;
    padding: 25px;
}
