body {
    font-family: verdana;
}

div.header {
    background-color: rgb(127,127,255);
    color: white;
    font-family: verdana;
    padding: 15px;
}



/*
input.search[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('http://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input.search[type=text]:focus {
    width: 100%;
}
*/



div.pad {
    margin: 25px;
}
/*
div.container {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 25px;
}
*/



.button {
    background-color: #7F7FFF;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition-duration: 0.25s; /* Safari */
    transition-duration: 0.25s;
}
.buttonshadow:hover {
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.25),0 5px 10px 0 rgba(0,0,0,0.15);
}



button.accordion {
    background-color: rgb(127,127,255);
    color: white;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.5s;
}
button.accordion.active, button.accordion:hover {
    background-color: rgb(191,191,255);
}
button.accordion:after {
    content: '\25BC';
    font-size: 15px;
    color: white;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after {
    content: '\25B2';
}
div.panel {
    padding: 0 25px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    opacity: 0;
}
div.panel.show {
    opacity: 1;
    max-height: 100px;
}



div.footer {
    background-color: rgb(127,127,255);
    color: white;
    font-family: verdana;
    padding: 15px;
}
